body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4a4a4a;
    height: 500px;
    font-family: "mikhak";
}
@font-face{
    font-family: mikhak;
    src: url(../fonts/Mikhak-Black.ttf);
}
i{
    position: absolute;
    padding: 13px;
    padding-left: 30px;
}
input{
    text-align: left;
    padding: 8px;
    padding-left: 50px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-family: "mikhak";
    cursor: pointer;
}
h1{
    color: white;
    text-align: center;
}
button{
    width: 80px;
    border-radius: 10px;
    margin-left: 105px;
    padding: 2px ;
    cursor: pointer;
    font-family: "mikhak";
    font-size: 15px;
}
